<!DOCTYPE html>
<html lang="ru" xmlns="http://java.sun.com/jsf/html" ng-app="mgcrea.ngStrapDocs">
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drive Tracking</title>

    <!-- Bootstrap -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/librares.min.css" rel="stylesheet">
    <link href="resources/css/angular-motion.css" rel="stylesheet">
    <link href="resources/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
		<div class="container-fluid margin_top_5_proc">
		    <div class="row ">
			<div class="col-md-12 ">
       <div class="col-md-12 padding_5">
       <div class="panel panel-default">
       <div class="panel-heading">
<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
  <li><a href="#Time" role="tab" data-toggle="tab">Time</a></li>
  <li><a href="#compensation" role="tab" data-toggle="tab">Compensation</a></li>
  <li><a href="#payment_time" role="tab" data-toggle="tab">Payment time</a></li>
  <li><a href="#sheet_overview" role="tab" data-toggle="tab">Overview</a></li>
  <li><a href="#declaretion" role="tab" data-toggle="tab">Declaration</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab">Settings </a></li>
      <a id="logout" class="btn btn-danger pull-right">Logout</a>
</ul>
     
 </div>
  <div class="panel-body">

<div class="tab-content">
  <div class="tab-pane active" id="home">
        <div class="well well-sm">
            <dl class="dl-horizontal margin_fix">
              <dt>Name:</dt>
              <dd class="username"></dd>
            </dl>
        </div>
        <div class="well well-sm">
            <dl class="dl-horizontal margin_fix">
              <dt>Registration number:</dt>
              <dd>092132</dd>
            </dl>
        </div>
        <div class="well well-sm">
            <dl class="dl-horizontal margin_fix">
              <dt>Date:</dt>
              <dd id="userdate"></dd>
            </dl>
        </div>
  </div>
  <div class="tab-pane" id="Time">
   <div class="row col-xs-12" ng-controller="DatepickerDemoController">
         <div class="form-group col-md-4" ng-class="{'has-error': datepickerForm.date.$invalid}">
<!--        <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as date)</small></label>-->
        <input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker>
      </div>
<!--
   <div class="col-md-2 col-xs-6 margin_bottom_10">
    <select class="form-control time_year">
      <option></option>
      <option></option>
      <option></option>
    </select>
    </div>
      <div class="col-md-2 col-xs-6 margin_bottom_10">
    <select class="form-control time_mount">
      <option>January</option>
      <option>February</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
    </select>
    </div>
   <div class="col-md-2 col-xs-12 margin_bottom_10">
    <select class="form-control time_week">
      <option>Week 1</option>
      <option>Week 2</option>
      <option>Week 3</option>
      <option>Week 4</option>
    </select>
    </div>
-->
        <div class="col-md-1 col-xs-6">
    <button id="date_submit" class="btn btn-warning btn-block">Apply</button>
       </div>
    <div class="col-md-1 col-xs-6 col-md-offset-6">
        <button id="date_save" type="button" class="btn btn-success btn-block">Save</button>
    </div>
        <hr class="col-xs-12">
   </div>
   <div ng-controller="TimepickerDemoController">
   <div class="row col-xs-12 time_tab">
       <div class="col-md-4 col-xs-12 ">
       <div class="col-md-4 col-xs-6 font_size_18 time_date"></div>
       <div class="col-md-4 col-xs-6 font_size_18 time_day">Monday</div>
        <div class="col-md-4">
        <input type="text" class="form-control time_monday_start" size="5" ng-model="selectedTimeAsNumberMondayStart" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time_start_monday" placeholder="Start" bs-timepicker >
       </div>
       </div>
       <div class="col-md-4 form-group">
      <div class="col-md-6">
        <input type="text" class="form-control time_monday_end" size="5" ng-model="selectedTimeAsNumberMondayEnd" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time_end_monday" placeholder="End" bs-timepicker >
      </div>
        <div class="col-md-6">
                <input type="text" class="form-control time_monday_rest positive-integer" min="0" max="3" number-mask="" placeholder="Rest">
        </div>
       </div>
       <div class="col-md-4 form-group">
         <div class="col-md-4">
         <select class="form-control time_monday_ride_type">
          <option>1</option>
          <option>2</option>
        </select>
        </div>  
        <div class="col-md-4 add_row_monday"><button type="button" class="btn btn-warning btn-block ">Add</button></div>
        <div class="col-md-4 font_size_18 ">Total time</div>
       </div>
        <hr class="col-xs-12 margin_top_10">
   </div>
   <div class="row col-xs-12 time_tab">
       <div class="col-md-4 col-xs-12 ">
       <div class="col-md-4 col-xs-6 font_size_18 time_date"></div>
       <div class="col-md-4 col-xs-6 font_size_18 time_day">Tuesday</div>
        <div class="col-md-4 form-group">
        <input type="text" class="form-control time_tuesday_start" size="5" ng-model="selectedTimeAsNumberTuesdayStart" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time_start_tuesday" placeholder="Start" bs-timepicker>
       </div>
       </div>
       <div class="col-md-4 form-group">
      <div class="col-md-6">
        <input type="text" class="form-control time_tuesday_end" size="5" ng-model="selectedTimeAsNumberTuesdayEnd" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time_end_tuesday" placeholder="End" bs-timepicker >
      </div>
        <div class="col-md-6"><input type="text" class="form-control time_tuesday_rest positive-integer" type="text" placeholder="Rest" number-mask=""></div>
       </div>
       <div class="col-md-4 form-group">
         <div class="col-md-4">
         <select class="form-control time_tuesday_ride_type">
          <option>1</option>
          <option>2</option>
        </select>
        </div>  
        <div class="col-md-4 add_row_tuesday"><button type="button" class="btn btn-warning btn-block ">Add</button></div>
        <div class="col-md-4 font_size_18 ">Total time</div>
       </div>
        <hr class="col-xs-12">
   </div>
   <div class="row col-xs-12 time_tab">
       <div class="col-md-4 col-xs-12 ">
       <div class="col-md-4 col-xs-6 font_size_18 time_date"></div>
       <div class="col-md-4 col-xs-6 font_size_18 time_day">Wednesday</div>
        <div class="col-md-4 form-group">
        <input type="text" class="form-control time_wednesday_start" size="5" ng-model="selectedTimeAsNumberWednesdayStart" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time_start_wednesday" placeholder="Start" bs-timepicker>
       </div>
       </div>
       <div class="col-md-4 form-group">
      <div class="col-md-6">
        <input type="text" class="form-control time_wednesday_end" size="5" ng-model="selectedTimeAsNumberWednesdayEnd" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time2" placeholder="End" bs-timepicker>
      </div>
        <div class="col-md-6"><input type="text" class="form-control time_wednesday_rest positive-integer"  placeholder="Rest" number-mask=""></div>
       </div>
       <div class="col-md-4 form-group">
         <div class="col-md-4">
         <select class="form-control time_wednesday_ride_type">
          <option>1</option>
          <option>2</option>
        </select>
        </div>  
        <div class="col-md-4 add_row_wednesday"><button type="button" class="btn btn-warning btn-block ">Add</button></div>
        <div class="col-md-4 font_size_18 ">Total time</div>
       </div>
        <hr class="col-xs-12">
   </div>
   <div class="row col-xs-12 time_tab">
       <div class="col-md-4 col-xs-12 ">
       <div class="col-md-4 col-xs-6 font_size_18 time_date"></div>
       <div class="col-md-4 col-xs-6 font_size_18 time_day">Thursday</div>
        <div class="col-md-4 form-group">
        <input type="text" class="form-control time_thursday_start" size="5" ng-model="selectedTimeAsNumberThursdayStart" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time_start_thursday" placeholder="Start" bs-timepicker>
       </div>
       </div>
       <div class="col-md-4 form-group">
      <div class="col-md-6">
        <input type="text" class="form-control time_thursday_end" size="5" ng-model="selectedTimeAsNumberThursdayEnd" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time2" placeholder="End" bs-timepicker>
      </div>
        <div class="col-md-6"><input type="text" class="form-control time_thursday_rest positive-integer"  placeholder="Rest" number-mask=""></div>
       </div>
       <div class="col-md-4 form-group">
         <div class="col-md-4">
         <select class="form-control time_thursday_ride_type">
          <option>1</option>
          <option>2</option>
        </select>
        </div>  
        <div class="col-md-4 add_row_thursday"><button type="button" class="btn btn-warning btn-block ">Add</button></div>
        <div class="col-md-4 font_size_18 ">Total time</div>
       </div>
        <hr class="col-xs-12">
   </div>
   <div class="row col-xs-12 time_tab">
       <div class="col-md-4 col-xs-12 ">
       <div class="col-md-4 col-xs-6 font_size_18 time_date"></div>
       <div class="col-md-4 col-xs-6 font_size_18 time_day">Friday</div>
        <div class="col-md-4 form-group">
        <input type="text" class="form-control time_friday_start" size="5" ng-model="selectedTimeAsNumberFridayStart" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time_start_friday" placeholder="Start" bs-timepicker>
       </div>
       </div>
       <div class="col-md-4 form-group">
      <div class="col-md-6">
        <input type="text" class="form-control time_friday_end" size="5" ng-model="selectedTimeAsNumberFridayEnd" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time2" placeholder="End" bs-timepicker>
      </div>
        <div class="col-md-6"><input type="text" class="form-control time_friday_rest positive-integer"  placeholder="Rest" number-mask=""></div>
       </div>
       <div class="col-md-4 form-group">
         <div class="col-md-4">
         <select class="form-control time_friday_ride_type">
          <option>1</option>
          <option>2</option>
        </select>
        </div>  
        <div class="col-md-4 add_row_friday"><button type="button" class="btn btn-warning btn-block ">Add</button></div>
        <div class="col-md-4 font_size_18 ">Total time</div>
       </div>
        <hr class="col-xs-12">
   </div>
   <div class="row col-xs-12 time_tab time_tab">
       <div class="col-md-4 col-xs-12 ">
       <div class="col-md-4 col-xs-6 font_size_18 time_date"></div>
       <div class="col-md-4 col-xs-6 font_size_18 time_day">Saturday</div>
        <div class="col-md-4 form-group">
        <input type="text" class="form-control time_saturday_start" size="5" ng-model="selectedTimeAsNumberSaturdayStart" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time_start_saturday" placeholder="Start" bs-timepicker>
       </div>
       </div>
       <div class="col-md-4 form-group">
      <div class="col-md-6">
        <input type="text" class="form-control time_saturday_end" size="5" ng-model="selectedTimeAsNumberSaturdayEnd" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time2" placeholder="End" bs-timepicker>
      </div>
        <div class="col-md-6 "><input type="text" class="form-control time_saturday_rest positive-integer"  placeholder="Rest" number-mask=""></div>
       </div>
       <div class="col-md-4 form-group">
         <div class="col-md-4 ">
         <select class="form-control time_saturday_ride_type">
          <option>1</option>
          <option>2</option>
        </select>
        </div>  
        <div class="col-md-4 add_row_saturday"><button type="button" class="btn btn-warning btn-block ">Add</button></div>
        <div class="col-md-4 font_size_18 ">Total time</div>
       </div>
        <hr class="col-xs-12">
   </div>   
      <div class="row col-xs-12 time_tab time_tab">
       <div class="col-md-4 col-xs-12 ">
       <div class="col-md-4 col-xs-6 font_size_18 time_date"></div>
       <div class="col-md-4 col-xs-6 font_size_18 time_day">Sunday</div>
        <div class="col-md-4 form-group">
        <input type="text" class="form-control time_sunday_start" size="5" ng-model="selectedTimeAsNumberSundayStart" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time_start_sunday" placeholder="Start" bs-timepicker>
       </div>
       </div>
       <div class="col-md-4 form-group">
      <div class="col-md-6">
        <input type="text" class="form-control time_sunday_end" size="5" ng-model="selectedTimeAsNumberSundayEnd" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="time2" placeholder="End" bs-timepicker>
      </div>
        <div class="col-md-6 "><input type="text" class="form-control time_sunday_rest positive-integer"  placeholder="Rest" number-mask=""></div>
       </div>
       <div class="col-md-4 form-group">
         <div class="col-md-4 ">
         <select class="form-control time_sunday_ride_type">
          <option>1</option>
          <option>2</option>
        </select>
        </div>  
        <div class="col-md-4 add_row_sunday"><button type="button" class="btn btn-warning btn-block ">Add</button></div>
        <div class="col-md-4 font_size_18 ">Total time</div>
       </div>
        <hr class="col-xs-12">
   </div>
     </div>
      <div class="row col-xs-12 row">
      <div class="col-md-6">
      <p class="font_size_18">Total time mon-fri: <span>25</span></p>
        </div>
          <div class="col-md-6">             
      <p class="font_size_18">Total time mon-fri: <span>25</span></p>

                     </div>
                 <div class="col-md-12">   
      <p class="font_size_18">Total time mon-fri: <span>25</span></p>

             </div> 
                 <div class="col-md-12">   
      <p class="font_size_18">Total time mon-fri: <span>25</span></p>

             </div> 
      </div>
  </div>
  <div class="tab-pane" id="compensation">
              <div class="well well-sm">
            <dl class="dl-horizontal margin_fix">
              <dt>Name:</dt>
              <dd class="username"></dd>
            </dl>
        </div>
        <div class="well well-sm">
            <dl class="dl-horizontal margin_fix">
              <dt>Avaliable time-for-time:</dt>
              <dd>23</dd>
            </dl>
        </div>
              <div class="input-group col-md-8">
                <input id="compensation_time" type="text" class="form-control" placeholder="Use time-for-time" number-mask="">
              </div>
      <button id="compensation_btn" class="btn btn-success margin_top_10 col-md-1">Save</button>
  </div>
    <div class="tab-pane" id="payment_time">
              <div class="well well-sm">
            <dl class="dl-horizontal margin_fix">
              <dt>Name:</dt>
              <dd class="username"></dd>
            </dl>
        </div>
        <div class="well well-sm">
            <dl class="dl-horizontal margin_fix">
              <dt>Avaliable time-to-pay:</dt>
              <dd>23</dd>
            </dl>
        </div>
             <div class="col-md-12 padding_fix">
             <div class="col-md-4 padding_fix">
               <div class="input-group">
                <span class="input-group-addon">$</span>
                <input id="payment_time_field" type="text" class="form-control" placeholder="Hour to pay" number-mask="">
              </div>
             </div>
                <div class="col-md-4 col-md-offset-3">
                  <p class="font_size_18">Avaliable time-to-pay: <span>23</span></p>
                </div>
            </div>
             
      <button id="payment_time_btn" class="btn btn-success margin_top_15 col-md-1">Save</button>
  </div>
    <div class="tab-pane" id="sheet_overview">
    <div class="col-md-12">
    <div class="col-md-6">            
        <p class="font_size_18">Avaliable time-to-pay: <span>23</span></p>
    </div>
    </div>
    <div class="col-md-12">
    <div class="col-md-4">
        <select multiple class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <p class="font_size_18">Avaliable time-to-pay: <span>23</span></p>
        <p class="font_size_18">Avaliable time-to-pay: <span>23</span></p>
        <p class="font_size_18">Avaliable time-to-pay: <span>23</span></p>
        <p class="font_size_18">Avaliable time-to-pay: <span>23</span></p>
    </div>
         <div class="col-md-12">
          <button class="btn btn-warning margin_top_15 col-md-1">Download PDF</button>
         </div>
    </div>
  </div>
   <div class="tab-pane" id="declaretion">
    <div class="col-md-12">            
        <p class="font_size_18">Korten declaration</p>
    </div>
      <div class="col-md-12 margin_top_15">
       <div class="col-md-4">
        <select class="form-control">
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
        </select>
       </div>
        <div class="col-md-2"><input type="text" class="form-control" placeholder="End"></div>
        <div class="col-md-2"><input type="text" class="form-control" placeholder="Rest"></div>
       </div>
             <div class="col-md-12 margin_top_15">
       <div class="col-md-4">
        <select class="form-control">
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
        </select>
       </div>
        <div class="col-md-2"><input type="text" class="form-control" placeholder="End"></div>
        <div class="col-md-2"><input type="text" class="form-control" placeholder="Rest"></div>
       </div>
             <div class="col-md-12 margin_top_15">
       <div class="col-md-4">
        <select class="form-control">
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
        </select>
       </div>
        <div class="col-md-2"><input type="text" class="form-control" placeholder="End"></div>
        <div class="col-md-2"><input type="text" class="form-control" placeholder="Rest"></div>
       </div>
             <div class="col-md-12 margin_top_15">
       <div class="col-md-4">
        <select class="form-control">
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
        </select>
       </div>
        <div class="col-md-2"><input type="text" class="form-control" placeholder="End"></div>
        <div class="col-md-2"><input type="text" class="form-control" placeholder="Rest"></div>
       </div>
              <div class="col-md-4 col-md-offset-4 margin_top_15">
               <p class="font_size_18 ">Total</p>
               </div>
  </div>
<div class="tab-pane font_size_18" id="settings">
    <div class="checkbox col-md-12">
     <div class="col-md-6">
      <label>
        <input id="check1" type="checkbox" value="">
        Option one is this and that&mdash;be sure to include why it's great
      </label>
      </div>
      <div class="col-md-4">
          <input id="text1" type="text" class="form-control" placeholder="End">
      </div>
    </div>
    <div class="checkbox col-md-12 padding_left_30">
      <label>
        <input id="check2" type="checkbox" value="">
        Option one is this and that&mdash;be sure to include why it's great
      </label>
    </div>
              <div class="col-md-12 margin_top_15">
              <div class="col-md-4">
                <select class="form-control" id="select1">
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                </select>
              </div>
       </div>
              <div class="col-md-12 margin_top_15">
              <div class="col-md-4">
                <select class="form-control"  id="select2">
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                </select>
              </div>
       </div>
            <div class="col-md-12 margin_top_15">
              <div class="col-md-4">
                <select class="form-control"  id="select3">
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                </select>
              </div>
            </div>
    <div class="checkbox col-md-12 padding_left_30">
      <label>
        <input id="check3" type="checkbox" value="">
        Option one is this and that&mdash;be sure to include why it's great
      </label>
    </div>
    <div class="checkbox col-md-12 padding_left_30">
      <label>
        <input id="check4" type="checkbox" value="">
        Option one is this and that&mdash;be sure to include why it's great
      </label>
    </div>
            <div class="col-md-12 margin_top_15">
              <div class="col-md-4">
                <select class="form-control" id="select4">
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                </select>
              </div>
            </div>
             <button id="setting_btn" class="btn btn-success margin_top_10 col-md-4 pull-right">Save</button>
         
          </div>
        </div>
      </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
        <div class="footer">
			<div class="container">
			<div class="social-bl">
			</div>
			</div>
		</div>
     <script src="resources/js/angular.js"></script>
     <script src="resources/js/angular-animate.js"></script>
     <script src="resources/js/angular-sanitize.min.js"></script>
     <script src="resources/js/angular-strap.min.js"></script>
     <script src="resources/js/angular-strap.tpl.min.js"></script>
     <script src="resources/js/app.js"></script>
     <script src="resources/js/jquery-2.1.1.min.js"></script>
     <script src="resources/js/bootstrap.min.js"></script>
     <script src="resources/js/validator.js"></script>
     <script src="resources/js/userdata.js"></script>
     <script src="resources/js/autorization.js"></script>
     <script src="resources/js/numeric.js"></script>
     	<script type="text/javascript">
        $(".positive-integer").numeric({ decimal: false, negative: false }, function() { alert("Positive integers only"); this.value = ""; this.focus(); });   

      </script>
     
  </body>
</html>